<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="./assets/icon/cloud-data.png" style="width: 28px; height: 28px" />
    <ion-title></ion-title>
    <ion-title slot="end">CCR Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="nt_yellow">

  <ion-card *ngFor="let p of  this.dataList;let i = index">
    <ion-card-header>
      <ion-card-subtitle>Router</ion-card-subtitle>
      <ion-card-title>{{this.searchText}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      id: {{p.id}} <br />
      province: {{p.province}} <br />
      area: {{p.area}} <br />
      abbn: {{p.abbn}} <br />
      site_ip: {{p.site_ip}} <br />
      gateway: {{p.gateway}} <br />
      dhcp: {{p.dhcp}} <br />
      name: {{p.name}} <br />
      router: {{p.router}} <br />
      vlan_name: {{p.vlan_name}} <br />
      note: {{p.note}} <br />
      vpn: {{p.vpn}} <br />
      remark: {{p.remark }} <br />
      ts: {{p.timestamp }}
      <ion-grid>
        <ion-row>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-button  size="small" (click)="goCcrEdit(p.id)"
                >Edit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
